* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 16px; color: #333;
    margin: 0;

}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 20px;
}

/* ---- HEADER ---- */

header {
    top: 0;
    position: fixed;
    z-index: 200;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img {
  width: 116px;
  height: 56px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

}
nav {
    display: block;
    width: 100%;
    height: 90px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
}

nav ul li {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    visibility: visible;
    opacity: 1;
    transition: visibility .3s linear .3s, opacity .5s;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 0 10px;
}

nav ul li a:hover {
    color: #ff3000;
    transition-duration: .2s;
}

.nav-logo {
    font-size: 35px;
    margin: 0;
    padding: 15px;
    z-index: 2;
}

.nav-logo a {
    color: #ff3000;
    text-decoration: none;
    transition-duration: .2s;
    font-weight: 800;
}

#menu {
    height: 100vh;
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 1;
    transition: width .4s cubic-bezier(0.77,0.2,0.05,1.0);
    background-color:#fff;
    padding-top: 89px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#menu.toggle {
    width: 0%;
}

#menu.toggle li {
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s linear, opacity .15s;
}

.menu-item a {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item#sports {
    background-color: #ffa754;
}

.menu-item#about {
    background-color: #e9532a;
}

.menu-item#news {
    background-color: #49b5ac;
}

.menu-item#gallery {
    background-color:#3b9d89;;
}

.menu-item#contact {
    background-color: #714178;
}

.menu-item#reform {
    background-color: #000;
}

.sports-section {
    margin-top: 100px;
    text-align: center;
}

#squash figure {
    background-image: url("./img/squash.jpg");
}

#badminton figure {
    background-image: url("./img/badminton.jpg");
}

#personalTraining figure {
    background-image: url("./img/personal_training.jpg");
}

#tableTenis figure {
    background-image: url("./img/table_tennis.jpg");
}

#min36 figure {
    background-image: url("./img/36min.jpg");
}

.dropdown {
    margin: 5px;
}

.dropdown-main {
    color: #ef5523;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #747478;
    padding: 1em;
}

.dropdown-main:hover {
    background-color: rgba(116, 116, 120, 0.8);
    cursor: pointer;
}

.dropdown-content {
    display: none;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content.show figure {
    height: 200px;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 5px 0;
}

.close-icon {
  display: none;
}

#nav-icon {
  display: none;
}
.icon-section {
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.icon i {
    font-size: 18px;
    color: #fff;
    padding: 15px;
}

footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background-color: #000;
    color: #f5f5f5;
    text-align: center;
}

footer span {
    color: #ef5523;
}

.hamburger {
    display: block;
    padding: 20px;
    color: #ef5523;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
}
.hamburger:hover {
    cursor: pointer;
}


@media (min-width: 767px){
    header {
      width: 150px;
    }

    .hamburger {
        display: none;
    }

    #menu.toggle {
        width: 100%;
    }

    #menu.toggle li {
        opacity: 1;
        visibility: visible;
    }
    #nav-icon {
      display: flex;
    }
    #nav-icon .icon i {
      color: #606164;
    }
    .sports-section {
      display: flex;
      height: 100vh;
      margin-left: 150px;
      margin-top: 0;
    }
    .dropdown {
      flex: 1;
      margin: 0;
      background: transparent;
      transition: flex .7s ease-in-out;
    }
    .dropdown:hover {
      flex: 1.1;
      z-index: 5;
      transition: flex .7s ease-in-out;
    }

    .dropdown-main {
      padding-top: 200px;
      font-size: 18px;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    .dropdown-main:hover {
      opacity: 0.8;

    }
    #squash .dropdown-main {
        background-image: url("./img/squash.jpg");
    }

    #badminton .dropdown-main {
        background-image: url("./img/badminton.jpg");
    }

    #personalTraining .dropdown-main {
        background-image: url("./img/personal_training.jpg");
    }

    #tableTenis .dropdown-main {
        background-image: url("./img/table_tennis.jpg");
    }

    #min36 .dropdown-main {
        background-image: url("./img/36min.jpg");
    }

    .dropdown-content {
        position: absolute;
        z-index: 30;
        top: 0;
        left: 300px;
        right: 0;
    }

    .dropdown-content.show figure {
        margin: 0;
    }

    .sports-section.show {
        width: 150px;
    }

    .sports-section.show .title{
        display: none;
    }

    .sports-section.show .dropdown-main{
        padding: 0;
    }

    .close-icon {
        display: block;
        position: absolute;
        right: 30px;
        z-index: 2;
        top: 20px;
        font-size: 36px;
        color: #ef5523;
    }
    .close-icon:hover {
      opacity: .5;
      cursor: pointer;
    }
    footer {
        display: none;
    }
}
